<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>New update  app</h1>
    <ul>
        {% for app in app %}
            <a href="{% url 'update_app' app.id %}">
                <li>{{ app.title }}<br></li></a>{{ app.desc }}<br>{{ app.created_at }}<br>{{ app.updated_at }}

        {% endfor %}
    </ul>
    <a href="{% url 'create_app' %}">New app</a>

</body>
</html>